body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

@media(max-width: 360px){
	.top-spotlight, .bot-spotlight, .bgimg-1, .bgimg-2{
		min-height: 700px;
	}
}

@media(max-width: 1024px){
	.top-spotlight, .bot-spotlight, .bgimg-1, .bgimg-2{
		min-height: 620px;
	}
}

@media(min-width: 1200px){
	.top-spotlight, .bgimg-1, .bgimg-2{
		min-height: 865px;
	}

	.bot-spotlight{
		min-height: 1088px;
	}
}

body, html {
	height: 100%;
	line-height: 1.8;
}

#myNavbar{
	background-image: url("../img/Menu Bar.png");
	background-size: cover;
	height: 50px;
}

.separator{
	background-image: url("../img/Menu Bar.png");
	background-size: cover;
	height: 40px;
}

#autor{
	background: linear-gradient(#450F0F, #9E0003);
}

#entrevista{
	height: 40%;
}

#bottom_spotlight{
	background: linear-gradient(#450F0F, #9E0003);
}

#autor div p, #bottom_spotlight div p{
	font-size: 24px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2{	
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	margin-top: 50px;
	background-image: url('../img/Top Background.png');
}

/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("../img/Bot Background.png");
}


.background{
	background-color: linear-gradient(#450F0F , #9E0003);
}

.submit-button{
	width: 150px;
	height: 48px;
	margin-top: 50px !important;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#registerForm{
	width: 400px;
	margin: auto;
}

#registerForm input, #registerForm select{
	margin-top: 10px;
}

.top-spotlight, .bot-spotlight{	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position-y: bottom;
}

.top-spotlight{
	background-image: url('../img/Top book spotlight.png');
	position: relative;
}

.purchase-button{
	width: 195px;
    height: 70px;
    position:absolute;
    bottom: 50px;
    right: 240px;
}


.bot-spotlight{
	background-image: url('../img/Bot book spotlight.png');
	position: relative;
}

.purchase-button-big{
	z-index: 2;
    width: 240px;
    height: 80px;
    position: absolute;
    bottom: -30px;
    right: 42%;
}